.services {
    width: 100%;
    &__title-one {
        text-align: center;
        font: {
            family: 'Righteous', cursive;
            size: 2.5rem;
            weight: 300;
        }
    }
    &__contenedor {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        /* border: 1px solid red; */
        @include responsive(tab-land) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 10px;
        }
    }
    &__item {
        /* border: 1px solid red; */
        width: 100%;
        margin-bottom: 3rem;
        @include responsive(phone) {
            display: flex;
            text-align: right;
        }
        @include responsive(tab-land) {
            text-align: right;
        }
        &--1 {
            @include responsive(tab-land) {
                grid-row: 1 /2;
                grid-column: 1 /span 2;
            }
        }
        &--2 {
            @include responsive(phone) {
                flex-direction: row-reverse;
                text-align: left;
            }
            @include responsive(tab-land) {
                flex-direction: row;
                grid-row: 1 /2;
                grid-column: 3 /span 2;
                text-align: right;
            }
        }
        &--3 {
            @include responsive(tab-land) {
                grid-row: 2 / 3;
                grid-column: 2 /span 2;
            }
        }
    }
    &__img-container {
        width: 100%;
        @include responsive(tab-land) {
            width: 50%;
        }
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        /* border: 1px solid blue; */
        @include responsive(tab-land) {
            width: 40%;
            padding: 0 1rem;
        }
    }
    &__title {
        margin: 0;
        font: {
            family: 'Righteous', cursive;
            size: 1.5rem;
            weight: 300;
        }
    }
    &__text {
        font-size: 1.2rem;
        margin: 5px;
    }
    &__btn {
        margin-top: 1rem;
    }
    &__btn-link {
        padding: .5rem 2rem;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-color: rgb(77, 77, 226);
        transition: .3s ease-in-out;
        @include responsive(tab-land) {
            width: 40%;
            &:hover {
                background-color: rgb(53, 53, 189);
            }
        }
    }
    .web {
        width: 100%;
        height: 80vh;
        background: {
            image: url(../img/web.jpg);
            size: cover;
            position: center;
            attachment: fixed;
            repeat: no-repeat;
        }
        &__contenedor {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        &__item {
            background-color: rgba(255, 255, 255, 0.842);
            width: 100%;
            height: 80%;
            flex-shrink: 0;
        }
        &__description {
            padding: 1rem;
        }
        &__subtitle {
            margin: 0;
            font: {
                family: 'Allerta Stencil', sans-serif;
                size: 1rem;
                weight: 300;
            }
        }
        &__btn {
            margin-top: 1rem;
            text-align: center;
            &:hover .web__btn-link::after {
                opacity: 1;
                transform: translate(100px);
            }
        }
        &__btn-link {
            display: inline-block;
            padding: .5rem 2rem;
            border-radius: 20px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgb(77, 77, 226);
            transition: background-color .3s ease-in-out;
            &:hover {
                background-color: rgb(46, 46, 170);
            }
            &::after {
                content: '>>';
                width: 100%;
                height: 80%;
                padding-left: 10px;
                opacity: 0;
                transition: opacity .3s .5s ease-in-out;
                transform: translate(-100px);
            }
        }
    }
}